.newcollections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
    padding: 0 20px;
}

.newcollections h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.newcollections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    border: none;
}

.collections{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
    gap: 30px;
}

/* Tablet Responsive */

@media(max-width: 992px){

    .newcollections h1{
        font-size: 34px;
    }

    .collections{
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
    }
}

/* Mobile Responsive */

@media(max-width: 768px){

    .newcollections{
        margin-bottom: 70px;
    }

    .newcollections h1{
        font-size: 28px;
    }

    .newcollections hr{
        width: 150px;
        height: 5px;
    }

    .collections{
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 35px;
    }
}